@import './variaveis.css';

body{
    background-color: var(--white);
    color: var(--black);

    font-family: var(--inter);
    font-size: var(--sm);

    overflow-x: hidden;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    background-color: var(--white);

    padding-block: 1.5rem;
    /* 1rem = 16px */
}
.items-menu{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
a.item-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    text-decoration: none;
    color: var(--black);

    font-size: var(--md);
    font-weight: 400;
}
a.item-header::after{
    content: '';

    height: 1.5px;
    width: 0px;

    background-color: var(--black);
    transition: .5s;
}
a.item-header:hover::after{
    width: 110%;
}

button{
    border: none;
    outline: none;

    cursor: pointer;

    background: none;
}

#openMenu{
    display: none;
}
#closeMenu{
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.menu-mobile{
    display: flex;

    z-index: -1;

    position: absolute;
    top: 0;
    left: 100vw;
    opacity: 0;
    
    padding-block: 5vh;
    width: 100%;
    height: 100vh;

    background-color: var(--white);

    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.7s all;
}
.items-menu-mobile{
    margin-top: 20%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;
}
@media (max-width: 700px){
    body{
        overflow-x: hidden;
    }
    .items-menu{
        display: none;
    }
    #openMenu{
        display: block;
    }
    header{
        justify-content: space-between;
        padding: 1.5rem 1.7rem 1.5rem 1.7rem;
    }
    :root{
        --md: 24px;
    }  
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: var(--xl);
    font-weight: 800;
    padding-block: 1.5rem;
}
.slider-container{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slider-wrapper{
    width: 100%;
}
.slider{
    position: absolute;

    width: 100%;

    opacity: 0;

    transition: 0.7s opacity;
}
.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.buttonSlider{
    position: absolute;
    padding-inline: 1rem;
}
#prev-button{
    left: 0;
}
#next-button{
    right: 0;
}